@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Geist+Mono&family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Variáveis */
:root {
    --cor0: #00FFFF;
    --cor1: #025E73;
    --cor2: #151570;
    --cor3: #16222e;
    --cor4: #0b0b26;
    --cor5: #06061b;
    --fonte-padrao: 'Poppins', Arial, sans-serif;
}

* {
    font-weight: 300;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-padrao);
    font-size: 1.7em;
    color: #fff;
    background-color: var(--cor5);
}

/*---------------- Chuva de bits ----------------*/
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

/*---------------- Barra de navegação ----------------*/
header {
    text-align: center;
    padding: 15px 50px;
    background-color: transparent;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    padding: 0 10%;
    background: linear-gradient(to bottom, #000, #000, #000, rgba(0, 0, 0, 0.16));
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav .logo {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    margin-right: 20px;
}

nav ul {
    display: flex;
    gap: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--cor0);
}

.menu-toggle {
    display: none;
    position: absolute;
    flex-direction: column;
    gap: 5px;
    right: 20px;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff; 
    border-radius: 2px;
    transition: background-color 0.3s, transform 0.3s;
}

.menu-toggle:not(.active):hover span {
    background-color: var(--cor0);
}

.menu-toggle.active:hover span {
    background-color: #fff; /* Branco */
}

.menu-toggle.active span {
    background-color: var(--cor0);
}

@media (max-width: 900px) {
    nav ul {
        display: none; /* Esconde o menu por padrão */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed; /* Ocupa a tela inteira */
        top: 0;
        left: 0;
        width: 100vw; /* Largura total da viewport */
        height: 100vh; /* Altura total da viewport */
        background: rgba(0, 0, 0, 0.85); /* Fundo escuro com transparência */
        z-index: 1000; /* Certifique-se que fica acima de outros elementos */
        gap: 20px; /* Espaço entre os itens */
    }

    nav ul.active {
        display: flex; /* Mostra o menu ao ativar */
    }

    nav ul li {
        list-style: none;
    }

    nav ul li a {
        text-decoration: none;
        font-size: 1.5rem; /* Ajuste do tamanho da fonte */
        color: #fff; /* Cor do texto */
        transition: color 0.3s;
    }

    nav ul li a:hover {
        color: var(--cor0); /* Cor ao passar o mouse */
    }

    .menu-toggle {
        display: flex; /* Mostra os três risquinhos */
    }
}


/*---------------- Quem Somos ----------------*/
main#quem_somos {
    text-align: center;
    padding: 50px 20px 0;
    background-color: transparent;
    max-width: 50%;
    margin: 50px;
    text-align: justify;
    margin-bottom: 100px;
}

main p {
    text-indent: 20px;
    margin-bottom: 10px;
    font-size: 1.2em;
    max-width: 40vw;
    font-weight: 400;
}

main h2 {
    max-width: 40vw;
    font-weight: 600;
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 2.0em;
}

@media (max-width: 748px) {
    main#quem_somos {
        padding: 50px 20px 0px 20px;
        margin: 0 auto; /* Mantém centralizado */
        max-width: 90%;
    }

    main#quem_somos h2 {
        font-size: 1.8em; /* Tamanho reduzido para o título */
        text-align: left; /* Centraliza o título */
        margin-bottom: 15px;
        max-width: 85vw;
    }

    main#quem_somos p {
        font-size: 1em; /* Ajusta o texto para menor tela */
        text-indent: 0; /* Remove recuo em telas menores */
        margin-bottom: 10px; /* Reduz o espaçamento entre parágrafos */
        text-align: justify; /* Mantém alinhamento justificado */
        max-width: 85vw;
    }
}

@media screen and (min-width: 749px) and (max-width: 900px) {
    main#quem_somos {
        padding: 50px 20px 0px 20px; /* Margem interna de 20px */
        margin: 0 auto; /* Mantém centralizado */
        max-width: 90%;
    }

    main#quem_somos h2 {
        font-size: 1.8em; /* Tamanho reduzido para o título */
        text-align: left; /* Centraliza o título */
        margin-bottom: 15px;
        max-width: 55vw;
    }

    main#quem_somos p {
        font-size: 1em; /* Ajusta o texto para menor tela */
        text-indent: 0; /* Remove recuo em telas menores */
        margin-bottom: 15px; /* Reduz o espaçamento entre parágrafos */
        text-align: justify; /* Mantém alinhamento justificado */
        max-width: 55vw;
    }
}
/*---------------- Nossos Servicos ----------------*/
section#nossos_servicos {
    text-align: justify;
    padding: 50px 20px; /* Espaçamento interno */
    background-size: cover; /* Ajusta o fundo para cobrir a área */
    background-repeat: no-repeat; /* Impede repetições */
    background-position: center; /* Centraliza a imagem */
    min-height: 100vh; /* Garante altura mínima de 100% da viewport */
    width: 100%; /* Ajusta a largura automaticamente */
    visibility: hidden; /* Inicialmente escondido */
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Suaviza a transição */
}

section#nossos_servicos.scrolled {
    visibility: visible; /* Torna visível ao rolar */
    opacity: 1; /* Torna opaco */
}

section#nossos_servicos h2 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 20px;
}

section#nossos_servicos p {
    text-indent: 20px;
    margin-bottom: 20px;
    max-width: 46vw; /* Ajusta a largura máxima para telas maiores */
}

section#nossos_servicos ul {
    list-style-type: '\2714\00A0'; /* Personaliza o marcador */
    list-style-position: inside;
    font-size: 1em;
    padding: 0;
    max-width: 46vw;
    gap: 10px; /* Espaçamento entre itens */
}

.botao {
    background-color: var(--cor0);
    color: var(--cor5);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px; /* Estética arredondada */
}

@media screen and (max-width: 843px) {
    section#nossos_servicos {
        padding: 80px 20px 50px 20px; /* Margem interna de 20px */
        margin: 0 auto; /* Mantém centralizado */
        background-size: contain; /* Ajusta o fundo para caber no espaço */
        min-height: 40vw;
        max-width: 90%;
        background-color: transparent;
    }

    section#nossos_servicos p {
        text-indent: 0; /* Remove recuo em telas menores */
        margin-bottom: 15px; /* Reduz o espaçamento entre parágrafos */
        text-align: justify; /* Mantém alinhamento justificado */
        max-width: 85vw;
    }

    section#nossos_servicos p.lista{
        text-indent: 50px
    }

    section#nossos_servicos h2 {
        font-size: 1.8em;
    }

    section#nossos_servicos ul {
        text-indent: 55px;
        max-width: 85vw;
        gap: 10px;
    }
}

@media screen and (min-width: 844px) and (max-width: 1080px) {
    section#nossos_servicos {
        background-image: url(imagens/fundo1-pq.png);
        background-size: cover; /* Ajusta o fundo para cobrir a área */
    }
}

@media screen and (min-width: 1081px) {
    section#nossos_servicos {
        background-image: url(imagens/fundo1-g.png);
        background-size: cover; /* Ajusta o fundo para cobrir a área */
    }
}

/*---------------- Nossos Metodos ----------------*/
section#por-que_contratar {
    padding: 60px 10%;
    text-align: center;
    background-image: url(imagens/fundo2-1200x800.jpeg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}

section#por-que_contratar p {
    max-width: 800px;
    margin: 0 auto 20px;
    font-size: 20px;
    padding: 0 10px;
}
section#por-que_contratar > p {
    margin-bottom: 40px;
}

section#por-que_contratar h2 {
    margin-top: 50px;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
}

.caixas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.metodos {
    background-color: var(--cor3);
    padding: 25px;
    border-radius: 8px;
    flex: 1 1 calc(25% - 20px);
    max-width: calc(30% - 20px);
    min-width: 250px;
    box-sizing: border-box;
    text-align: center;
}

.metodos2 {
    background-image: linear-gradient(135deg, var(--cor0), var(--cor1), var(--cor2));
    padding: 25px;
    border-radius: 8px;
    flex: 1 1 calc(25% - 20px);
    max-width: calc(30% - 20px);
    min-width: 250px;
    box-sizing: border-box;
    text-align: center;
}

.metodos h3, .metodos2 h3 {
    font-size: 2.0em;
    margin-bottom: 15px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.832);
}

.metodos h3 {
    color: var(--cor0);
}

.metodos p, .metodos2 p {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.825);
}

@media (max-width: 1024px) {
    .metodos, .metodos2 {
        flex: 1 1 calc(50% - 20px); /* Cada caixa ocupa cerca de 50% da largura em telas médias */
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .metodos, .metodos2 {
        flex: 1 1 100%; /* Cada caixa ocupa 100% da largura em telas pequenas */
        max-width: 100%;
    }
}


/*---------------- RODAPÉ ----------------*/
.footer {
    background-color: var(--cor4); 
    color: #ffffff; 
    text-align: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

/* Estilo dos ícones das redes sociais */
.footer .social-media a {
    margin: 0 10px;
    display: inline-block;
}

.footer .social-media img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.footer .social-media img:hover {
    transform: scale(1.2);
}

.footer .links a,
.footer .policies a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.footer .links a:hover,
.footer .policies a:hover {
    color: var(--cor0);
}

.footer .links a:hover::before,
.footer .policies a:hover::before {
    content: "";
    display: inline-block;
    width: 6px; /* Tamanho da bolinha */
    height: 6px;
    background-color: var(--cor0);
    border-radius: 50%; 
    margin-right: 8px;
    vertical-align: middle; 
    transition: background-color 0.3s; /* Animação suave */
}  
  
.footer p {
    margin-top: 10px;
    font-size: 12px;
    color: var(--cor1);
}
